<!--About Us Goes here-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" id="text"> About Us</h1>
        <!--<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
    </div>
</div>

<div id="about">
    <p>
        We are college students currently dealing with multiple financial struggles and trying to survive college. Unfortunately, we do not
        the solution our financial struggles (even though we want to) but we do have a small solution to make money. This is <b>BookDaddy</b>.
    </p>

    <p>
        Our <b>goal</b> with this project is to have an accessible market dedicated for students to buy and sell books, dorm appliances, and any other product they desire.
    </p>

    <p> We came up with this <b>idea</b> by seeing the need to connect students that were trying to sell their used books to those who were looking for cheap books. </p>

</div>

