    <form id="listingForm">

      Item Name: <br />

        <input id="itemName" type="text" name="itemName"><br />
      
      Item Type: <br />

        <input class="typeButton" type="radio" name="itemType" value="book" onclick="showISBN();" required> Book <br />
        <input class="typeButton" type="radio" name="itemType" value="furniture" onclick="noShowISBN();" required> Furniture <br />
        <input class="typeButton" type="radio" name="itemType" value="other" onclick="noShowISBN();" required> Other <br />
      
      <div id="isbn" style="display:none;"> ISBN: <br /> <!-- Hidden with JS unless book is selected -->

        <input id="isbnField" type="text" name="ISBN" maxlength="13" size="13"><br />

      </div>

      <div id="price"> Price ($): <br />

        <input id="priceField" type="text" name="price" maxlength="10" size="10"><br />

      </div>

      <div id="desc"> Item Description: <br />
            
             <textarea id="itemDescription" name="itemDescription" rows=10 cols=50" placeholder="Item description goes here..." required></textarea> <br />
      
      </div>

      <input type="submit" name="submitButton" id="submitForm"> <br />
    </form>
