<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" id="text">Log In</h1>
    </div>
</div>

<div id="login">
      <form method="post" action="views/login.php">
        <label for="username">Email: </label><input type="text" name="username" />
        <label for="pass">Password: </label><input type="password" name="pass" />
        <input name="login" type="submit" value="Login" />
      </form>

      New user? <a href="#/signup"> Sign up!</a>

</div>

