<h2>Login/Sign Up</h2>

<div>
    <form>
        <fieldset>
            <div class="form-group">
                <label for="uname"><b>Email (must be .edu)</b></label>
                <input id="uname" type="email" class="form-control" aria-describedby="emailHelp" placeholder="janedoe@college.edu" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="psw"><b>Password</b></label>
                <input id="psw" type="password" class="form-control" placeholder="Password"required>
            </div>

            <button type="submit" class="btn btn-primary">Log In</button>
            
            <button id="signup_btn" onclick="location.href = 'signup.html';" type="submit" class="btn btn-primary">Sign Up</button>
            
            <br>
            <!--Sign up button will later add more boxes to be filled in in order to request an authentication for each person from a certain college-->
            <br>

            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

            <div class="container" style="background-color:#f1f1f1">
                <span class="psw"><a href="#">Forgot password?</a></span>
            </div>

        </fieldset>
    </form>
</div>

