<!DOCTYPE html>

<html>
	<head>
		<title>Profile_Page</title>
		<link rel="stylesheet" href="../static/css/bootstrap.css">
	</head>
	<h1>Name</h1>
	<p>University: Rensselaer Polytechnic Institute</p>
	<p></p>
		<form>
			<fieldset>
				<div class="form-group">
   					<label for="psw"><b>Change Password</b></label>
  					<input id="psw" type="password" class="form-control" placeholder="Current Password"required>
  					<br/>
  					<input id="psw" type="password" class="form-control" placeholder="New Password"required>
  					<br/>
  					<input id="psw" type="password" class="form-control" placeholder="Re-enter New Password"required>
  				</div>
			</fieldset>
		</form>

		<button type="submit" class="btn btn-primary">Change Password</button>
		<br/>
		<br/>
		<button type="submit" class="btn btn-priamry">My Listings</button>
		<button type="submit" class="btn btn-priamry">Wishlist</button>
		<p>My User Rating</p>
</html>
