<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" id="text">Sign Up</h1>
    </div>
</div>
 <form id="login">
     <label for="fname">First Name: </label><input id="fname" type="text" name="fname" /><br>
     <label for="lname">Last Name: </label><input id="lname" type="text" name="lname" /><br>
     <label for="dob">Date of Birth (YYYY-MM-DD): </label><input id="dob" type="text" name="dob" /><br>
     <label for="username">Email: </label><input id="username" type="text" name="username" /><br>
     <label for="pass">Password: </label><input id="pass" type="password" name="pass" /><br>
     <label for="passconfirm">Confirm Password: </label><input id="passconfirm" type="password" name="passconfirm" /><br>
     <input id="submitUser" type="submit" name="register" value="Register" />
 </form>


