<!DOCTYPE html>
<!--Navbar will go here when ready-->
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../static/js/LogIn_SignUp.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
  </head>
  <body>

  <h2>Sign Up</h2>
  <form>
  <fieldset>
    	<div class="form-group">
  		<label for="fname"><b>First Name</b></label>
      	<input id="fname" type="fname" class="form-control" placeholder="Jane"required>
  	</div>
  	<div class="form-group">
  		<label for="lname"><b>Last Name</b></label>
  		<input id="lname" type="lname" class="form-control" placeholder="Doe"required>
  	</div>
  	<div class="form-group">
  		<label for="dob"><b>Date of Birth</b></label>
      	<input id="dob" type="dob" class="form-control" placeholder="MM/DD/YYYY" required>
  	</div>
  	<div class="form-group">
  	 <label for="uname"><b>Email (must be .edu)</b></label>
      <input id="uname" type="email" class="form-control" aria-describedby="emailHelp" placeholder="janedoe@college.edu" required>
  	 <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  	</div>
  	<div class="form-group">
  	 <label for="psw"><b>Password</b></label>
  	<input id="psw" type="password" class="form-control" placeholder="Password"required>
  	</div>
  	 <button onclick="signup2()" type="submit" class="btn btn-primary">Sign Up</button>
  	  <!--Sign up button will later add more boxes to be filled in in order to request an authentication for each person from a certain college-->
  	  <br>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    <div class="container" style="background-color:#f1f1f1">
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </fieldset>
  </form>

  </body>
</html>
